<%- include('./layout/header.ejs', {doc_title:"Talent"}) %>
<%- include('./layout/nav.ejs') %>
<body style='background-image: url(https://wallpapercave.com/wp/wp3716563.png);'>
<div class='container'>
    <h2 class='d-flex justify-content-center mt-1 mb-3' style='color:#2d3436'>Shows</h2>
        <% if(err) { %>
        <p class='mt-3' style='color:red;'><%= err %></p>
    <% } %>
    <% if(req.session.user_role ==='Admin'){ %>
        <a href="/shows/add" class='btn btn-success'>Add Show</a>
    <% } %>
    <table  class='table table-bordered; table-striped shadow-lg' >
        <tr style='background-color:#a29bfe'>
            <th>No</th>
            <th>Name</th>
            <th>Schedule</th>
            <th>Requirement</th>
            <th>Action</th>
        </tr>
           <% data.forEach((data, index) =>{ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= data.name %></td>
                <td><%= data.schedule %></td>
                <td><%= data.requirement %></td>
                <% if(req.session.user_role === 'Admin') { %>
                <td>
                        <a class='btn btn-warning' href="/shows/edit/<%= data.id %>">Edit</a>
                        <a class='btn btn-danger' href="/shows/delete/<%= data.id %>">Delete</a>
                </td>
                <% }else{ %>
                <td>
                        <a class='btn btn-primary' href="/shows/join/<%= data.id %>">Join</a>
                        <a class='btn btn-primary' href="/shows/<%= data.id %>">View Talents</a>
                </td>
                <% } %>
            </tr>
        <%}) %>   
    </table>
</div>
</body>
<br>
<%- include('./layout/footer.ejs') %> 