<%- include('./layout/header.ejs', {doc_title:"Talent"}) %>
<%- include('./layout/nav.ejs') %>
<div class='container'>
    <h1 class='mt-5'>Talent</h1>
    <table class='table'>
        <tr class='bg-info'>
            <th>No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Talent</th>
            <th>Action</th>
        </tr>
        <% data.forEach((data, index) =>{ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= data.name %></td>
                <td><%= data.age %></td>
                <td><%= data.gender %></td>
                <td><%= data.talent %></td>
                <td><a class='btn btn-danger' href="/talents/delete/<%= data.id %>">Delete</a></td>
            </tr>
        <%}) %>
        
    </table>
</div>
<%- include('./layout/footer.ejs') %>