<%- include('./layout/header.ejs', {doc_title:"Talent"}) %>
<%- include('./layout/nav.ejs') %>
<body style='background-image: url(https://wallpapercave.com/wp/wp3716563.png);'>
<div class='container'>
    <h2 class='d-flex justify-content-center mt-1 mb-3' style='color:#2d3436'>Talents</h2>
    <table  class='table table-bordered;' >
        <tr style='background-color:#a29bfe'>
            <th>No</th>
            <th>Name</th>
            <th>Schedule</th>
            <th>Action</th>
        </tr>
        <% data.Shows.forEach((data, index) =>{ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= data.name %></td>
                <td><%= data.schedule %></td>
                <td><a class='btn btn-danger' href="/talents/delete/<%= data.id %>">Cancel</a></td>
            </tr>
        <%}) %>   
    </table>
</div>
</body>
<br>
<%- include('./layout/footer.ejs') %>